:root{
    --white: #FFFFFF;
    --black: #000000;
    --naranja: #fe5129;
    --gris: #e4e4e4;
    --azul-negro: #04001e;
    --cafe: #803321; 
    --sm: 16px;
    --md: 24px;
    --lg: 32px;
    --xl: 40px;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
   
}
.menu{
    display: flex;
    justify-content: space-between;
    padding: 0;
    height: 40px;
    background-color: var(--azul-negro);
    position: fixed;
    z-index: 100;
    width: 100%;
    align-items: center;
}
     .nav-left ul,
    .nav-right ul {
      list-style: none;
      margin:  0;
      display: flex;
      align-items: center;
      justify-content: center;
     padding: 0px 24px;
    }
    .nav-left, .nav-right {
        display: flex;
        background-color: var(--azul-negro);
       
    }
    .nav-left ul {
      margin-left: 12px;
    }
    .nav-left ul li a,
    .nav-right ul li  a{
      text-decoration: none;
      color: var(--naranja);
      padding: 8px;
      border-radius: 8px;
      margin-left: 20px;
    }
    .nav-left ul li a:hover,
    .nav-right ul li a:hover {
     background-color: var(--naranja);
      color: var(--white);
    }
    .nav-right a{
       
    }
    
    .acerca-container{
        display: flex;
        height: auto;
        background-color: var(--azul-negro);
        padding: 40px 24px;
        width: calc(100%-48px);
        text-align: center;
    }

    .logo{
        color: var(--white);
        text-align: center;
       width: 50%;
    }
    .logo p{
        font-size: var(--xl);
        font-weight: bold;
        margin: 0;
    }

    .logo img{
        height: 80%;
        width: 70%;
    }

    .acerca{
        color: var(--white);
        width: 48%;
        text-align: center;
    }

    .acerca a{
        border-radius: 20px;
        background-color: var(--naranja);
        color: var(--white);
        padding: 10px;
        font-size: var(--md);
        cursor: pointer;
        text-decoration: none;
    }

    .acerca p:first-child{
        color: var(--naranja);
        font-size: var(--md);
        font-weight: bold;
        margin-bottom: 40px;
    }

    .perfil{
        font-size: var(--md);
        margin: 60px 0px;
        padding: 20px;
    }

    .portafolio-container{
        background-color: var(--gris);
        height: auto;
        padding: 32px 24px;
        width: calc(100%-48px);
    }

  
    .titulo{
        color: var(--naranja);
        font-weight: bold;
        margin-bottom: 0;
    }

    .subtitulo{
        color: var(--cafe);
        font-size: var(--xl);
        margin-top: 0;
        font-weight: bold;
    }
    .proyectos-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 240px);
        gap: 26px;
        place-content: center;
    }

    .proyectos-card{
        background-color: var(--azul-negro);
        width: 240px;
        height: 300px;
        border-radius: 10px;
        border: none;
        margin-bottom: 10px;
        position: relative;
        text-align: center;
    }

    .proyectos-card img{
        width: 240px;
        height: 40%;
        border-radius: 8px 8px 0px 0px;
        
    }
    .titulo-proyecto{
        color: var(--naranja);
        font-size: var(--md);
        margin: 5px;
        font-weight: bold;
    }

    .descripcion-proyecto{
        color: var(--white);
        margin: 5px;
        font-size: var(--sm);
    }

    .proyectos-card a{
        text-decoration: none;
        color: var(--white);
        border: 1px solid var(--white);
        border-radius: 8px;
        padding: 4px;
        
    }
    .proyectos-card a:hover{
        background-color: var(--naranja);
    }
    .codigo{
        margin: 14px 8px;
        text-align: center;
        bottom: 0;
        position: absolute;
        width: calc(100% - 16px);
    }

    .ver-mas {
            text-align: center;
    }

    .ver-mas button{
        padding: 10px 24px;
        background-color: var(--naranja);
        color: var(--white);
        border-radius: 16px;
        border: none;
        font-size: var(--md);
        margin: 24px auto;
        cursor: pointer;
    }

    .ver-mas button:hover{
        background-color: var(--azul-negro);
    }

    .skill{
        background-color: var(--white);
        height: auto; 
        padding: 40px 24px;
        text-align: center;
        width: calc(100%-48px);
    }
    .skill-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 80px);
        gap: 40px;
        place-content: center;
        width: 80%;
        margin: 0 auto;
    }

    .skill-card{
        width: 80px;
        height: 100px;
    }
    .skill-card img{
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    .skill-titulo{
        color: var(--naranja);
        font-size: var(--sm);
        font-weight: bold;
        margin: 0px;
    }

    .certificados{
        background-color: var(--gris);
        height: auto;
        padding: 40px 24px;
        width: calc(100%-48px);
    }

    .certificados-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        gap: 26px;
        place-content: center;
        margin-bottom: 26px;
        grid-auto-flow: dense;
    }

    .certificados-card{
        width: 250px;
        height: 210px;
    }
    .certificados-card:hover{
       cursor: pointer;
       transform: scale(1.2);
       transition-duration: 0.5s;
    }

    .bloques{
        display: inline;
    }

    #vermenos-certificados{
        display: none;
    }

    #bloque2{
        display: none;
    }
    #bloque3{
        display: none;
    }
    #bloque4{
        display: none;
    }

    .contacto-container{
        background-color: var(--white);
        height: auto; 
        padding: 40px 24px;
        text-align: center;
        width: calc(100%-48px);
    }
    .redes{
       display: inline;
        width: 80%;
        margin: 0 auto;
    }

    .redes img{
        cursor: pointer;
        height: 80px;
        width: 80px;
        object-fit: cover;
        margin: 24px;
    }

    .footer{
        display: inline-block;
        background-color: var(--azul-negro);
        height: 80px; 
        text-align: center;
        color: var(--white);
        width:100%;
        align-items: center;
        
    }
    

    @media (max-width: 640px) {
        .menu{
            display: none;
        }
        .acerca-container{
            display: block;
            text-align: center;
        }
        .logo{
            width: 100%;
        }
        .acerca{
            width: 100%;
        }
      }
